examples/flows.json
[{"id":"10ee0fa40e964021","type":"inject","z":"53b1ecd405390f45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello!","payloadType":"str","x":510,"y":400,"wires":[["da7a88cf015ee3ed"]]},{"id":"c4d87bcef4e5da9b","type":"debug","z":"53b1ecd405390f45","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":400,"wires":[]},{"id":"da7a88cf015ee3ed","type":"pyodide","z":"53b1ecd405390f45","name":"Payload","pythonCode":"import sys\nimport platform\n\nmsg[\"payload\"] = {\n    \"python_version\": sys.version,\n    \"platform\": platform.platform(),\n    \"payload\": msg[\"payload\"]\n}","x":660,"y":400,"wires":[["c4d87bcef4e5da9b"]]},{"id":"33d77b4def9b8a12","type":"inject","z":"53b1ecd405390f45","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"256","payloadType":"num","x":510,"y":460,"wires":[["7bb9f60926cb8f7c"]]},{"id":"359ad78512414af8","type":"debug","z":"53b1ecd405390f45","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":460,"wires":[]},{"id":"7bb9f60926cb8f7c","type":"pyodide","z":"53b1ecd405390f45","name":"Math","pythonCode":"import math\nresult = math.sqrt(msg[\"payload\"])\nmsg[\"payload\"] = result","x":650,"y":460,"wires":[["359ad78512414af8"]]}]